<style>
    header, main { background-color: #000; display: flex; }
    main h1, nav ul li a { color: #fff; font-weight: 600; }
    .tecnologia a, main a, nav ul li a { text-decoration: none; }
    main a { color: #320; background: linear-gradient(#ffbf00, #f2a50c); font-size: 1.8rem; font-weight: 600; text-transform: uppercase; padding: 1.5rem 3rem; border-radius: 4px; }
    main a:hover { background: linear-gradient(#ebb105, #cf8d08); }
    main img { width: 52%; height: 100%; object-fit: cover; border-radius: .5rem; margin: 0 2rem; }
</style>
